<?xml version="1.0"?>
<connectionStrings>
    <!--<add name="MvcEntities"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Mvc.mdf;Integrated Security=True;User Instance=True" />-->
    <add name="LogisticsEntities"
         connectionString="Data Source=.;Initial Catalog=Logistics;User ID=sa;Password=Password01!"
         providerName="System.Data.SqlClient" />
</connectionStrings>