<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="Autofac" version="3.1.1" targetFramework="net40" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="iTextSharp" version="4.1.2" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ninject.MVC3" version="3.0.0.6" targetFramework="net40" />
  <package id="Ninject.Web.Common" version="3.0.0.7" targetFramework="net40" />
  <package id="NLog" version="2.0.1.2" targetFramework="net40" />
  <package id="NLog.Mvc" version="1.0.7" targetFramework="net40" />
  <package id="NPOI" version="1.2.5" targetFramework="net40" />
  <package id="WebActivator" version="1.5.3" targetFramework="net40" />
</packages>