@model Lib.Mvc4App.Models.Contract
@if (Model != null) {
    using (Html.BeginForm()) {
    @Html.HiddenFor(c => c.Id)
    @Html.ValidationSummary(true)
    <table>
		</tr>
    </table>
    <p class="center">
        <input type="submit" value="Ìá½»" />
        <input type="button" value="·µ»Ø" onclick="window.location='@Url.Action("Index")'" />
    </p>
    }
}
