@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td bgcolor="yellow">
                Hello, world!
            </td>
        </tr>
    </table>
</body>
</html>
