@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Html</title>
</head>
<body>
    <div>
        <h3 style="text-align: center; color: yellow;">有你的快乐</h3>
        <h3 style="text-align: center; color: orange">迷宫</h3>
        <table style="width: 100%">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
        </table>
    </div>
    <a class="Print" href="@Url.Action("PdfHtml")">打印</a>
</body>
</html>
